body {
    /* background-color: rgb(58, 10, 10); */
    background-color: rgb(58, 10, 10);
    color: rgb(179, 145, 53);
    margin: 0px;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid;
    border-color: rgb(179, 145, 53);
    background-color: rgb(48, 17, 17);
    box-shadow: 0px 0px 8px 8px rgb(179, 145, 53);
    color: rgb(179, 145, 53);
    height: 80px;
    width: 100%;
    top: 0;
    position: sticky;
}

footer {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: rgb(48, 17, 17);
    border-top: 1px solid;
    border-color: rgb(179, 145, 53);
    height: 40px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.place-footer-elements {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 16px;
}

a {
    text-decoration: none;
    color: rgb(179, 145, 53);
}

a:hover {
    color: rgb(199, 206, 211);
}

.the-line {
    margin-left: 8px;
    margin-right: 8px;
    border: 1px solid;
    border-color: rgb(179, 145, 53);
    height: 16px;
}

.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 24px;
    z-index: 999;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-bottom: 56px;
}

#load_pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.show-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 16px;
    padding: 8px;
    background-color: rgb(190, 190, 131);
    border-radius: 8px;
    width: 180px;
    height: 232px;
}

.show-container:hover {
    cursor: pointer;
    box-shadow: 8px;
}

.place-id {
    margin-left: 32px;
}

.single-information-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 632px;
    height: 932px;
    border-radius: 4px;
    background-color: none;
}

.single-image {
    width: 300px;
    height: 300px;
}

.show-top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(190, 190, 131);
    border-radius: 16px;
    margin-bottom: -32px;
    width: 600px;
    height: 400px;
}

.show-bottom-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    width: 600px;
    height: 500px;
}

.chart-style {
    width: 450px;
    height: 450px;
    background-color: white;
}

.information-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: white;
    ;
    font-size: 18px;
    border-radius: 20px;
    width: 88px;
    height: 40px;
    border-bottom: 5px solid white;
    transition: 0.3s;
    background-color: black
}

.information-buttons:hover {
    border-bottom-width: 0;
    transform: translateY(5px);
    cursor: pointer;
}

.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color: rgb(179, 145, 53);
    background-color: rgb(58, 10, 10);
    font-size: 18px;
    border-radius: 0px;
    width: 200px;
    height: 40px;
    position: relative;
    transition: 0.4s;
    overflow: hidden;
    border: none;
}

.original-button:hover {
    cursor: pointer;
    color: rgb(214, 204, 175);
}

.original-button::before,
.original-button::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: rgb(179, 145, 53);
    transition: .3s;
}

.original-button::before {
    top: 0;
}

.original-button::after {
    bottom: 0;
}

.original-button:hover::before {
    transform: translateX(-100%);
}

.original-button:hover::after {
    transform: translateX(100%);
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(80, 35, 35);
    color: rgb(179, 145, 53);
    border: 1px solid;
    border-radius: 8px;
    padding: 16px;
    font-size: 16px;
}

select {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(75, 43, 136);
    color: rgb(179, 145, 53);
    border-radius: 8px;
    border: none;
    padding: 16px;
    font-size: 16px;
}

select:hover {
    cursor: pointer;
}

img {
    width: 128px;
    height: 128px;
}

.information-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(24, 26, 27, 0.856);
    color: aquamarine;
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 32px;
}

.place-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 8px;
    width: 600px;
    background-color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.place-information {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.moves {
    font-size: 24px;
    color: black;
}

.games {
    font-size: 16px;
    color: black;
}

.arrow {
    border: solid rgb(179, 145, 53, 0.5);
    border-radius: 8px;
    border-width: 0 24px 24px 0;
    display: inline-block;
    padding: 24px;
    color: #787a7aff;
}

.arrow:hover {
    border: solid rgb(20, 20, 20);
    border-radius: 8px;
    border-width: 0 24px 24px 0;
    display: inline-block;
    padding: 24px;
    cursor: pointer;
    color: rgb(179, 145, 53);
    filter: drop-shadow(4px 4px 4px);
}

.close {
    position: absolute;
    border-radius: 8px;
    top: 0;
    right: 0;
    display: flex;
    width: 50px;
    height: 50px;
    font-size: 0;
}

.close:before,
.close:after {
    position: absolute;
    height: 48px;
    width: 8px;
    top: 50%;
    left: 50%;
    background-color: rgb(179, 145, 53);
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    content: '';
}

.close:after {
    transform: rotate(-45deg) translate(-50%, -50%);
}

.close:hover {
    cursor: pointer;
    filter: invert(20%);
    color: black;
}

.arrows {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.p-fixed {
    position: fixed;
}

.d-none {
    display: none;
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 145, 53);
    border-radius: 6px;
    border: none;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(204, 186, 135);
}